---
import Gallery from "../components/Gallery.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carmen Bonita">
  <main>
    <Gallery labels={["design"]} />
  </main>
</Layout>
