---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Carmen Bonita">
  <Header />
  <main>
    <h1><span style="view-transition-name: text-home">Carmen Bonita</span></h1>
  </main>
</Layout>

<style></style>
