---
import { rrssData } from "../data/rrss";
const dateYear = new Date().getUTCFullYear();
---

<footer style="view-transition-name: footer">
  <ul class="rrss">
    {
      rrssData.map((item) => {
        return (
          <li>
            <a href={item.url} target="_blank">
              <img src={item.logo} />
              <span>{item.title}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
  <p class="footer__disclaimer">
    © {dateYear} CarmenBonita Todos los derechos reservados.
  </p>
</footer>

<style>
</style>
