---
import { work } from "../data/work";
import GalleryItem from "./GalleryItem.astro";
const { labels } = Astro.props;
---

<div class="gallery">
  {
    work
      .filter((w) => w.labels.some((l) => !labels || labels.includes(l)))
      .map((w) => {
        return <GalleryItem info={w} />;
      })
  }
</div>

