---
import { routes } from "../routes/routes";
const currentPath = Astro.url.pathname;
---

<header>
  <a href="/">
    <img class="logo" src="/carmenbonita.png" />
  </a>
  <nav class="navbar">
    {
      routes.map((r) => (
        <a
          id={r.id}
          href={r.href}
          class={`tab ${currentPath.includes(r.href) ? "selected-tab" : ""}`}
        >
          {r.title}
        </a>
      ))
    }
  </nav>
</header>