---
import { routes } from "../routes/routes";
const currentPath = Astro.url.pathname;
---

<header>
  <a href="/">
    <img class="header__logo" src="/carmenbonita.png" />
  </a>
  <nav class="header__navbar">
    {
      routes.map((r) => (
        <a
          id={r.id}
          href={r.href}
          class={`tab ${currentPath.includes(r.href) ? "selected-tab" : ""}`}
        >
          {r.title}
        </a>
      ))
    }
  </nav>
</header>

<style>
  header {
    padding: 1rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    height: 5rem;
  }
  
  .header__navbar {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }

  .tab {
    position: relative;
    font-weight: bold;
    color: rgb(172, 172, 172);
  }

  .selected-tab {
    color: rgb(44, 44, 44);
    text-decoration: underline;
  }

  @media (max-width: 900px) {
    header {
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
    }

    .header__navbar {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
</style>
